.go{
    position: absolute;
    top: 370px;
    left: 820px;

    width: 263px;
    height: 80px;

    background: linear-gradient(100.69deg, #636fa0 -1.07%, #AF4357 103.65%);
    border-radius: 55.5px;
    
    z-index: 2;

    outline: none;
    transition: .1s;
}

.sc{
    position: absolute;
    top: 400px;
    left: 1000px;

    width: 263px;
    height: 80px;

    background: linear-gradient(100.69deg, #636fa0 -1.07%, #AF4357 103.65%);
    border-radius: 55.5px;
    
    z-index: 2;

    outline: none;
    transition: .1s;
}

.go_1{
    position: absolute;
    top: -30%;
    left: 22%;

    width: 152px;
    height: 54px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;

    color: #FFFFFF;

    z-index: 3;

    outline: none;
    transition: .1s;
}

.sc_1{
    position: absolute;
    top: -23%;
    left: 8%;
    
    width: 152px;
    height: 54px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 54px;

    color: #FFFFFF;

    z-index: 3;

    outline: none;
    transition: .1s;
}

button:hover, button:active {
    outline: none;
    background: #4e6586;
    cursor: pointer;
    transform: translateY(15px); 
}

/* кубики */
:root {
    --border-radius: 0.5vmin;
    --face-size: 12.5vmin;
    --point-size: 2.5vmin;
    --point-position: 1.25vmin;
}

.dice-container {
    width: var(--face-size);
    aspect-ratio: 1;
    cursor: pointer;

    position: absolute;
    top: 550px;
    left: 650px;
}

.dice-container_2 {
    width: var(--face-size);
    aspect-ratio: 1;
    cursor: pointer;

    position: absolute;
    top: 0px;
    left: 350px;
}

.dice {
    position: relative;
    width: var(--face-size);
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform-origin: 50% 50% calc(var(--face-size) * -0.5);
    transform: rotateX(180deg) rotateY(180deg);
    transition: transform var(--duration) ease-in-out;
}

.dice_2 {
    position: relative;
    width: var(--face-size);
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform-origin: 50% 50% calc(var(--face-size) * -0.5);
    transform: rotateX(180deg) rotateY(180deg);
    transition: transform var(--duration) ease-in-out;
}

.face {
    position: absolute;
    background: radial-gradient(circle at center, #eee, #ccc);
    width: var(--face-size);
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    transform: rotateX(0deg) rotateY(180deg);
    transform-origin: 50% 50% calc(var(--face-size) * -0.5);
}

.face:nth-child(1) {
    transform: rotateY(0deg);
}

.face:nth-child(2) {
    transform: rotateY(90deg);
}

.face:nth-child(3) {
    transform: rotateY(180deg);
}

.face:nth-child(4) {
    transform: rotateY(270deg);
}

.face:nth-child(5) {
    transform: rotateX(90deg);
}

.face:nth-child(6) {
    transform: rotateX(270deg);
}

.point {
    position: absolute;
    width: var(--point-size);
    aspect-ratio: 1;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
    background: #444;
    box-shadow: inset 5px 0 10px #222;
}

.point-top {
    top: var(--point-position);
}

.point-middle {
    top: calc((var(--face-size) - var(--point-size)) / 2);
}

.point-bottom {
    bottom: var(--point-position);
}

.point-left {
    left: var(--point-position);
}

.point-center {
    left: calc((var(--face-size) - var(--point-size)) / 2);
}

.point-right {
    right: var(--point-position);
}

.roll-btn {
    padding: 1vmin 1.5vmin;
    border: none;
    border-radius: 1vmin;
    cursor: pointer;
    font-weight: bolder;
}